.flexDiv {
  display: flex;
  align-items: center;
}

.Input {
  color: #000;
  background: #fff;
  text-align: center;
  width: 2em !Important;
  height: 2em;
  padding-left: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
